<%= form_for @task, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :room_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :room_id, Room.all, :id, :name %>
    </div><br />
	<div class="control-group">
	    <%= f.label "Attach Image", :class => 'control-label' %>
	    <div class="controls">
	       <%= f.file_field :photo %>
	    </div>
  </div>
<div class="container">
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                tasks_path, :class => 'btn' %>
  </div></div>
<% end %>
