<!-- Form used to add/edit/remove comments from tasks -->
<%= form_for @task, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :note, :class => 'control-label' %>
    <div class="controls">
	<% if @task.note.blank? %>
	  <%= f.text_area :note %>
	<% else %>
      <%= f.text_area :note, :class => 'text_area' %>
    </div>
	<% end %>
  </div>
 <%= f.hidden_field :room_id %>
<div class="container">
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                :back, :class => 'btn' %>
  </div></div>
<% end %>
