<%= form_for @roam, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :roamer_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :roamer_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :task_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :task_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :user_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                roams_path, :class => 'btn' %>
  </div>
<% end %>
